$fs-orange: #d36a1d;
$fs-orange-rgb: rgb(211, 106, 29);
$fs-d-grey: #373737;
$fs-l-grey: #ebebeb;
$fs-white: #fff;
$fs-gen-font: 'Open Sans', sans-serif;
$fs-brown: #68350f;
$fs-red: darken(rgb(248,80,50) ,10%);
$fs-blue: darken(rgb(109,179,242), 10%);
$fs-green: darken(rgb(157,213,58), 10%);


$fs-form-b:#d16819;