

.fs-btn-orange{
	border-radius: 20px;
	color:$fs-white !important;
	border:0;
	font-weight: 700;
	font-family: $fs-gen-font;
		@include orange-gradient();
		@include btn-shadow();
		@include transition-s(all, 0.1s, ease-in-out);
		border:1px solid darken($fs-orange, 2%);
	&:hover, &:focus, &:active, &:active:focus{
		color: lighten($fs-orange,5%) !important;
		@include grey-gradient();
		border:1px solid darken($fs-white, 30%) !important;
		outline:none;
	}
}

.fs-btn-grey{
	border-radius: 35px;
	color:$fs-orange;
	border:0;
	font-weight: 700;
	font-family: $fs-gen-font;
	margin-top:20px;

		@include grey-gradient();
		@include btn-shadow();
		@include transition-s(all, 0.1s, ease-in-out);
		
	&:hover, &:focus, &:active, &:active:focus{
		outline:none;
		
		-webkit-box-shadow:none;
		color: darken($fs-white,5%) !important;
		@include orange-gradient();
		border:1px solid $fs-orange !important;
	}
}

.fs-ico-btn{
	padding: 0px;
	margin: 5px;
	font-size: 2em;
	background-color: transparent;
	color:transparent;
	border:0;
	i{
		@include orange-gradient();
		-webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
	&:hover, &:active, &:focus, &:active:focus{
		background-color: transparent;
		outline:none;
		box-shadow: none;
		-webkit-box-shadow:none;
		i{

			@include grey-gradient();
		}
	}
}

.btn-group{
	.fs-btn-social{
		border-radius: 5px;
		border:0;
		font-weight: 700;
		font-family: $fs-gen-font;
		border:1px solid transparent;
		color:white;
			@include btn-shadow();
			@include transition-s(all, 0.1s, ease-in-out);
		&:hover, &:focus, &:active, &:active:focus{
			outline:none;
		}
	}
	.fs-btn-social.facebook{
		background-color:$facebook-col;
		&:hover, &:acive, &:focus, &:active:focus{
			color:$facebook-col !important;
			border:1px solid $facebook-col !important;
			background-color:white !important;
		}
	}
	.fs-btn-social.twitter{
		background-color:$twitter-col;
		&:hover, &:acive, &:focus, &:active:focus{
			color:$twitter-col !important;
			border:1px solid $twitter-col !important;
			background-color:white !important;
		}
	}
	.fs-btn-social.linkedin{
		background-color:$linkedin-col;
		&:hover, &:acive, &:focus, &:active:focus{
			color:$twitter-col !important;
			border:1px solid $linkedin-col !important;
			background-color:white !important;
			
		}
	}
}


.fs-ticket-btn{
	@extend .fs-btn-orange;
	border-radius: 10px;
	display: inline-block;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.members{
	padding-top:20px;
	padding-bottom: 20px;
	margin-bottom: 35px;
}



