
		.navbar-default{
			border:0px;
		}
    	.navbar-brand{
    		padding:20px 15px;
    	}

    	.navbar{
    		margin-bottom: 0px;
    		border-radius: 0px;
    		.center-nav{
			    display: inline-block;
			    float: none;
			    margin-bottom: -15px;
			    @media (max-width: 767px){
					width: 100%;
					text-align: left;
					li{
						margin-left: -15px;
						margin-right: -15px;
						text-indent: 15px;
					}
			    }
			}
		}

		.navbar .navbar-collapse {
		    text-align: center;
		}

		.social{
			.navbar-nav{
				li{
					font-size: 1.5em;
					a{
						padding-left: 5px;
						padding-right: 5px;
					}
				}
			}
		}

		@media (max-width: 767px){
			
			.navbar{

				.navbar-nav{
					margin-top: 0px;
					li{
						
						a{
							padding-left: 15px;
							padding-right: 15px;
						}
					}
				}
			}



			#refer{
				display:block;
			}

		}

		footer .navbar-nav li a{
			font-size: 0.9em;
		}

		.navbar-default{
			.navbar-toggle{
				border:0;
				border-radius: 0;
				&:hover, &:focus, &:active{
					background-color: transparent;
				}
			}
		}

		#nav-icon {
		    width: 20px;
		    height: 20px;
		    padding: 5px;
		    position: relative;
		    @include rotate(0deg);
		    @include transition-s(all, 0.5s, ease-in-out);
		    cursor: pointer;
		    
		    span{
			    display: block;
			    position: absolute;
			    height: 1px;
			    width: 100%;
			    background: $fs-white;
			    border-radius: 3px;
			    opacity: 1;
			    left: 0;
			    @include rotate(0deg);
			    @include transition-s(all, 0.25s, ease-in-out);
			    &:nth-child(1){
				    top: 3px;
			    }
			    &:nth-child(2){
				    top: 9px;
			    }
			    &:nth-child(3){
				    top: 16px;
			    }
		    }
		}

		#nav-icon.open{
			span{
				&:nth-child(1){
					top: 10px;
				    @include rotate(135deg);
				}
				&:nth-child(2){
				    opacity: 0;
				    right: -60px;
				}
				&:nth-child(3){
				    top: 10px;
				    @include rotate(-135deg);
				}
			}
		}

		header.navbar-default{
			position: relative;
			z-index: 400;
			background-color: $fs-orange;
			background-image: url('../../img/header-bg.jpg');
			margin-bottom: 15px;
			border-bottom: 0px;

			.navbar-nav{
				li{
					
				}
				li a{
					color: $fs-white;
					&:hover, &:focus, &:active{
						color:$fs-d-grey;
					}
				}
				.active{
					position: relative;
					&:hover, &:focus, &:active{
						a{
							background-color:$fs-white;
						}
					}
					a{
						color:$fs-orange;
						background-color: $fs-white;
						&:hover, &:focus, &:active{
							color:$fs-orange;
							
						}
					}
					&:after{
						@include triangle-b();
					}
				}
			}
			.navbar-collapse{
				@media (max-width: 767px){
					background-image:none;
					background-color: $fs-orange;
				}
			}
		}

		footer.navbar-default{
			background-color: $fs-d-grey;
			margin-top: 25px;
			.navbar-nav{
				li a{
					color:$fs-white;
					&:hover, &:focus, &:active{
						color:lighten($fs-orange, 5%);
					}
				}
			}
		}


	.on-page-nav{
	position: relative;
	margin-top: -25px;
	z-index: 2;
	padding-left: 0px;
	padding-right: 0px;
	@media (max-width: 767px){
		margin-top:0px;
		
	}
	.navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar{
		border:0px;
		.nav, .navbar-justified{
			margin-bottom: 0px;
			@media (max-width: 768px){
				margin-bottom: 8px;
			}
			box-shadow: 0px 0px 4.75px 0.25px rgba(34, 34, 34, 0.75);
			li{
				height: 100%;
				font-size: 1.5em;
				font-family: $fs-gen-font;
				font-weight: 300;
				background-color: $fs-white;
				margin-bottom: -5px;
				a{
					color:$fs-d-grey;
					padding-top:15px;
					padding-bottom: 20px;
				}
			}
			.active{
				background-color: $fs-orange;
				a{
					color:$fs-white;
					&:hover, &:active, &:focus{
						background-color:$fs-orange;
						color:$fs-white;
						text-decoration: none;
					}
					&:after{
						border-top: 10px solid $fs-orange;
					    border-left: 13px solid transparent; 
					    border-right: 13px solid transparent; 
					    bottom: -10px;
					    content: "";
					    position: absolute;
					    left: 46%;
					    /*margin-left: -21px;*/
					    width: 0; 
					    height: 0;
					    @media (max-width: 767px){
					    	border:0px;
					    }
					}

				}
			}
		}
	}
}